<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmtv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilmTV">
        <activity android:name=".FilmGenreVue"></activity>
        <!-- Les vues -->
        <activity android:name=".Filmvue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Les Activity -->
        <activity android:name=".FilmActivity" />
        <activity android:name=".RealisateurActivity" />
        <activity android:name=".GenreActivity" />
        <activity android:name=".CreerFilmvue" />
        <activity android:name=".Genrevue" />
        <activity android:name=".Realisateurvue" />
        <activity android:name=".CreerRealisateurvue" />
        <activity android:name=".CreerGenrevue" />
        <activity android:name=".ModifierFilmvue" />
        <activity android:name=".ModifierGenrevue" />
        <activity android:name=".ModifierRealisateurvue"></activity>
    </application>

</manifest>